body { 
  background: url(bg/sea-sky-beach-holiday.jpg) no-repeat 50% 50% fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
}
.left-panel {
	position: absolute;
	width:75%;
	left: 0px;
}

.right-panel {
	position: absolute;
	width:25%;
	right:0px;
}

main {
  position:relative;
}

main .center {
	position: fixed;
	top: 50%;
	left: 15%;
	transform: translate(-15%, -50%);
	overflow: auto;
	width: 65%;
}

.text-shadow {
	text-shadow: 0 1px 0 black;
}

.quote {
	color: white;
	font-size: 64px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	text-shadow: 1px 1px 1px black;
}

.quoted-person {
  color: -white;
  font-size: 20px;
  text-align: right;
  font-family: 'Inconsolata', ;
  text-shadow: 0px 1px 0px black;
}

.darken {
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(bg/bustool.jpg);
}